$color-error: red;
$color-body: #f2f4f7ff;
$color-body-text: #4a4f4fff;
$color-card: rgb(255, 255, 255);
$color-card-text: rgb(42, 53, 71);
$color-border-input: rgb(196, 196, 196);
$color-primary: #F3DD65FF;
$color-primary-text: #495057;
$color-secondary: #f4f5f8;
$color-secondary-text: #495057;
$color-table-header: #F0F0F0;
$padding: 20px;
$margin: 20px;
$border-radius-card: 5px;
$border-radius-input: 8px;
$media-query-tablet: 991px;
$media-query-mobile: 767px;
$margin-label-button: 5px;
$font-size: 15px;
